*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.cont-1{
    display: inline-block;
    position:relative;
    top: 200px;
    left: 100px;

}

.image{
    width: 50%;
}

.cont-2{
    display: inline-block;
    position: relative;
    top: -250px;
    left: 750px;
}

h1{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: rgb(45, 45, 45);
    font-size: 64px;
    line-height: 94.78px;
}
.heading{
    font-family: 'Space Mono', monospace;
    color: rgb(88, 88, 88);
    font-weight: 400;
    font-size: 24px;
    line-height: 35.54px;
    margin-top: 22px;
}

button{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    background-color: rgb(45, 45, 45);
    color: white;
    font-size: 14px;
    line-height: 35.54px;
    padding: 18px 45px;
    margin-top: 60px;
}

.desc{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: rgb(45, 45, 45);
    position: relative;
    top: 20px;
    left: 60px;
    font-size: 24px;
    letter-spacing: -3px;
}

footer{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    color: rgb(45, 45, 45);
    margin: auto;
    position: relative;
    bottom: 213px;
    text-align: center;
}

a{
    color: brown;
    text-decoration: none;
}

/* -----media query---- */
@media screen and (max-width:500px) {
    .desc{
        font-size: 30px;
        position: relative;
        top: 12px;
        left: 10px;
    }
    .image{
        width: 100%;
    }
    .cont-1{
        position: relative;
        top: 120px;
        left:20px
    }
    h1{
        font-size: 35px;
        line-height: 45px;
    }
    .heading{
        font-size: 25px;
        line-height: 25px;

    }
    .cont-2{
        position: relative;
        top:220px;
        left: 50px;
    }

    footer{
        top: 300px;
    }
}